{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Rannz|FoodWorld</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'vendor/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/owl.css' %}">

  </head>

  <body>


    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>RANNZ <em>FOODWORLD</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <center>
          <h1 style="color: white;">Hello, {{user.username}}</h1>
        </center>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

              <li class="nav-item active">
                <a class="nav-link" href="/">Home
             
                </a>
              </li>
              {% if user.is_authenticated %} 
            {% if itcnt > 0 %} 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cart_details' %}"><i class="fa fa-shopping-cart">{{itcnt}}</i></a>
             
              </li>
              {% else %} 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cart_details' %}"><i class="fa fa-shopping-cart">{{itcnt}}</i></a>
             
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %} 
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
           
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
           
            </li>
            {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>



</body>
{% block content %}
{% endblock %}

</html>
